.contacts-container {
    display: flex;
    flex-direction: column;
    gap:25px;
    max-width: 800px;
    margin: 0 auto;
}

.card {
    display: flex;
    background: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    border: 0.1rem solid #005240;
    justify-content: flex-start;
}

.card-image {
    flex: 0 0 300px;
    position: relative;
    overflow: hidden;
}

.card-image img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.card-content {
    flex: 1;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: #005240;
    margin-bottom: 1rem;
}

.card-description, .contacts-href {
    color: #666;
    line-height: 1.6;
    margin-bottom: 15px;
    text-decoration: none;
}

.contacts-href:hover{
    text-decoration:underline;
    color: #005240;
}

.card-meta {
    display: flex;
    gap: 2rem;
    font-size: 0.9rem;
    color: #888;
}

.meta-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.meta-item i {
    color: #005240;
}

/* Чередование сторон для карточек */
.card:nth-child(even) {
    flex-direction: row-reverse;
}

@media (max-width: 768px) {
    .card {
        flex-direction: column;
    }
    
    .card:nth-child(even) {
        flex-direction: column;
    }
    .card-content {
        padding: 1.5rem;
    }
}

@media (max-width: 480px) {
    .card-image {
        flex: 0 0 200px;
    }
    
    .card-content {
        padding: 1rem;
    }
    
    .card-title {
        font-size: 1.3rem;
    }
    
    .card-meta {
        flex-direction: column;
        gap: 0.5rem;
    }
}