.equipment-container {
    display: flex;
    flex-direction: column;
    gap:25px;
    max-width: 800px;
    margin: 0 auto;
}

.card {
    background: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    border: 0.1rem solid #005240;
    position: relative;
    display: block; 
}

.card-image {
    width: 100%; /* Занимает всю ширину карточки */
    position: relative;
}

.card-image img {
    width: 100%;
    height: auto;
    object-fit: contain; /* Заполняет весь контейнер */
    display: block;
}


/* Адаптивность */
@media (max-width: 768px) {

    .card-image {
        flex: 0 0 250px;
    }
}

@media (max-width: 480px) {
    .card-image {
        flex: 0 0 200px;
    }

}
