.footer {
    background:#000000;
    color: #ffffff;
    padding: 1.5rem 0 0.5rem; 
    flex-shrink: 0;
    bottom: 0;
    
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    gap: 1.5rem; 
}

.footer-section h3,
.footer-section h4 {
    margin-bottom: 0.5rem; 
}

.footer-title {
    font-size: 1.2rem; 
    background: #ffffff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.footer-subtitle {
    color: #f8f9fa;
    font-size: 0.9rem; 
}

.footer-text {
    font-size: 0.8rem; 
}

.footer-links {
    list-style: none;
}

.footer-links li {
    margin-bottom: 0.3rem; 
}

.footer-links a {
    color: #adb5bd;
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: 0.8rem; 
}

.footer-links a:hover {
    color: #ffffff;
}

.social-links {
    display: flex;
    flex-direction: column;
    gap: 0.3rem; 
}

.social-link {
    color: #adb5bd;
    text-decoration: none;
    transition: color 0.3s ease;
    display: inline-block;
    font-size: 0.8rem; 
}

.social-link:hover {
    color: #ffffff;
}

.footer-bottom {
    border-top: 1px solid #495057;
    padding-top: 0.5rem; 
    text-align: center;
    margin-top: 16px;
}

.copyright {
    color: #adb5bd;
    font-size: 0.8rem; 
}

@media (max-width: 850px) {
    .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1rem;  
    }
    
    .footer {
        padding: 1rem 0 0.5rem; 
    }
}


