.gallery-section {
    padding: 40px 0;
}

.gallery-games {
    margin-bottom: 40px;
}

.gallery-card {
    background: #ffffff;
    border-radius: 10px;
    margin-bottom: 40px;
}

/* Картинка внутри текста - обтекание */
.card-image {
    float: left;
    width:50%;
    margin: 0 25px 0 0; /* Отступы: сверху, справа, снизу, слева */
    shape-outside: margin-box; /* Для плавного обтекания */
}

/* Для четных карточек - картинка справа */
.gallery-card:nth-child(even) .card-image {
    float: right;
    margin: 0 0 0 25px; /* Отступ слева вместо справа */
}

.card-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    display: block;
}

.card-title {
    font-size: 1.8rem;
    font-weight: 700;
    color: #333;
    margin-bottom: 15px;
}


.card-description {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #555;
    text-align: justify;
}


/* Адаптивность */
@media (max-width: 768px) {
    .card-image {
        width: 45%;
        margin: 0 20px 15px 0;
    }
    
    .gallery-card:nth-child(even) .card-image {
        margin: 0 0 15px 20px;
    }
}

@media (max-width: 600px) {
    .card-image {
        float: none;
        width: 100%;
        margin: 0 0 20px 0;
    }
    
    .gallery-card:nth-child(even) .card-image {
        float: none;
        margin: 0 0 20px 0;
    }
}