.gallery-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    margin-bottom: 40px;
}

.gallery-item {
    flex: 1 1 300px; /* flex-grow, flex-shrink, flex-basis */
    max-width: 300px;
    max-height: 400px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s ease;
    aspect-ratio:3/4;
}

.gallery-item:hover {
    transform: translateY(-5px);
}

.gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.gallery-item:hover .gallery-image {
    transform: scale(1.05);
}

.image-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);;
    padding: 20px 15px 15px;
    transform: translateY(100%);
    transition: transform 0.3s ease;
}

.gallery-item:hover .image-caption {
    transform: translateY(0);
}

.caption-title {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 5px;
}

.caption {
    font-size: 0.9rem;
    opacity: 0.8;
}

@media (max-width: 768px) {
    .gallery-item {
        flex: 1 1 250px; 
    }
    
    .gallery-title {
        font-size: 2rem;
    }
}

@media (max-width: 480px) {
    .gallery-item {
        flex: 1 1 100%; 
        max-width: 100%;
    }
    
    .gallery-section {
        padding: 20px 0;
    }
}
