<header class="header">
    <nav class="nav">
        <div class="logo">
        <div class="bear">
            <div class="nose"></div>
        </div>
        <div class="target"></div>
    </div>
        <ul class="nav-menu">
            <li class="nav-item"><a href="index.html" class="nav-link">Главная</a></li>
            <li class="nav-item"><a href="team_structure.html" class="nav-link">Состав сборной</a></li>
            <li class="nav-item"><a href="competitions.html" class="nav-link">Соревнования</a></li>
            <li class="nav-item"><a href="equipment.html" class="nav-link">Дротики</a></li>
            <li class="nav-item"><a href="test.html" class="nav-link">Проверь мозги</a></li>
        </ul>
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </nav>
</header>

