<nav class="main-menu">
    <h2 class="menu-title">Тут интересно</h2>
    <ul class="menu-list">
        <li class="menu-item">
            <a href="calendar.html" class="menu-link">
                Расписание
            </a>
        </li>
        <li class="menu-item">
            <a href="faq.html" class="menu-link">
                FAQ
            </a>
        </li>
        <li class="menu-item">
            <a href="rules.html" class="menu-link">
                Правила игр
            </a>
        </li>
        <li class="menu-item">
            <a href="contacts.html" class="menu-link">
                Контакты
            </a>
        </li>
    </ul>
</nav>